services:
  neo4j:
    image: neo4j:5.23.0
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_PLUGINS=["apoc"]
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    networks:
      - net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    command: uvicorn score:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/code
    env_file:
      - ./backend/.env
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=password
      - NEO4J_DATABASE=neo4j
      - KNN_MIN_SCORE=${KNN_MIN_SCORE-0.94}
      - IS_EMBEDDING=${IS_EMBEDDING-true}
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - "8000:8000"
    depends_on:
      - neo4j
    networks:
      - net

  frontend:
    image: node:20
    container_name: frontend
    working_dir: /app
    # Run yarn install before starting the dev server to ensure node_modules are present
    command: sh -c "yarn install && yarn run dev --host 0.0.0.0"
    volumes:
      - ./frontend:/app
    environment:
      - VITE_BACKEND_API_URL=http://localhost:8000
    env_file:
      - ./frontend/.env
    ports:
      - "8080:5173"
    depends_on:
      - backend
    networks:
      - net

networks:
  net:
    driver: bridge

volumes:
  neo4j_data:
  neo4j_logs:
